body {
  background: hsl(47, 88%, 63%);
  font-size: 16px;
  display: flex;
  justify-content: center;
  font-family: "Figtree", sans-serif;
}

.main-img {
  position: relative;
  left: 2%;
  border-radius: 8px;
  margin: 10px;
  width: 340px;
}

.container {
  /* margin:20px; */
  background: hsl(0, 0%, 100%);
  border: hsl(0, 0%, 7%);
  width: 28%;
  height: 55%;
  border-radius: 5px;
}

h2 {
  position: relative;
  left: 6%;
}
#paragraph {
  color: hsl(0, 0%, 50%);
  position: relative;
  left: 6%;
  width: 340px;
  line-height: 25px;
}

.learning-tab {
  margin: 5px;
  background: hsl(47, 88%, 63%);
  width: 22%;
  height: 45%;
  border-radius: 5px;
  position: relative;
  left: 6%;
  font-weight: bold;
  text-align: center;
}

#publishing-date {
  font-weight: 500;
  position: relative;
  left: 7%;
}

.avatar-picture {
  font-weight: 800;
  position: relative;
  left:5%;
}

.author {
  position: relative;
  left:25%;
  top:-55px;
  font-weight: 500; 
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
